/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #c5c5c5;
  }
  
  progress::-webkit-progress-bar {
    background-color: #ddd;
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background-color: #0077cc;
    border-radius: 5px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .progress-container {
    background-color: #b8b8b8;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .progress-bar {
    background-color: #24292e;
    height: 20px;
    border-radius: 5px;
  }
  
  .html-progress {
    width: 10%;
  }
  
  .csharp-progress {
    width: 60%;
  }
  
  /* Header Styles */
  
  header {
    background-color: #24292e;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  header h1 {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    padding: 20px 10;
    text-transform: uppercase;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 31px;
  }
  
  nav li {
    display: inline-block;
    margin-left: 6px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #008080;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 800px;
    margin-left: 10px;
    padding: 40px 20px;
    margin-top: 20px; /* adjust this value to match the height of your header */
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #24292e;
  }
  
  h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #24292e;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Button Styles */
  
  button {
    background-color: #24292e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #008080;
  }
  
  /* Form Styles */
  
  form {
    margin-bottom: 40px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #24292e;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    background-color: #24292e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    input[type="submit"]:hover {
    background-color: #008080;
    }
    
    /* Link Styles */
    a {
    color: #24292e;
    text-decoration: none;
    }
    
    a:hover {
    color: #008080;
    }
    
    /* Button Styles */
    .btn {
    background-color: #24292e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .btn:hover {
    background-color: #008080;
    }
    
    /* Form Styles */
    form {
    max-width: 500px;
    margin: auto;
    }
    
    label {
    display: block;
    margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    }
    
    textarea {
    height: 150px;
    }
    
    input[type="checkbox"] {
    margin-right: 10px;
    }
    
    input[type="radio"] {
    margin-right: 10px;
    }
    
    select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #333;
    }
    
    /* Media Query for Small Devices */
    @media only screen and (max-width: 768px) {
    header h1 {
    font-size: 24px;
    }
    
    .main-menu {
    display: none;
    }
    
    nav {
    float: none;
    margin-top: 10px;
    }
    
    nav li {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    }
    
    /* Footer Styles */
    
    footer {
    position: static;
    }
    }
    /* Footer Styles */
    .neon {
        color: #f0f0f0;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90 #0ff;
      }
      
      .rounded-box {
        background-color: #24292e;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 10px #000;
        padding: 20px;
      }
      
      .bottom-rounded {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px #000;
        padding: 20px;
      }
      
      .connected-box {
        position: relative;
        z-index: 1;
      }
      
      .top-box {
        position: relative;
        z-index: 2;
        margin-bottom: -30px;
      }
      
      .bottom-box {
        position: relative;
        z-index: 2;
        margin-top: -10px;
        background-color: #fff;
      }
      
      
      
footer {
    position: static;
  }
  
  /* Button Styles */
  
  button {
    background-color: #24292e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #008080;
  }
  
  /* Form Styles */
  
  form {
    margin-bottom: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type="submit"] {
    background-color: #24292e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #008080;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
    
    nav {
      display: none;
    }
    
    .main-menu {
      display: none;
    }
    
    .container {
      padding: 0 10px;
    }
    
    main {
      margin-top: 60px;
    }

    .contact-info {
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      
      .envelope-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
      
      .envelope {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 120px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        background-color: #f5f5f5;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      .envelope:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
      
      .top-flap {
        position: absolute;
        top: -20px;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 75px 20px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
      
      .letter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 10px;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
      }
      
      .letter p {
        margin: 0;
        font-weight: bold;
        text-align: center;
      }
      
  }
    
